#body{
    background-color: rgb(216, 210, 215);
}
.logo{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
.input{
    text-align: center;
}
.nav{
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: solid;
    border-radius: 30px;
}
.nav:hover{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border: solid;
    border-radius: 30px;
}
h1{
    color: brown;
}
.align{
    text-align: center;
}